<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
</head>
<body>

<wicket:panel>



  <form wicket:id="form">
    <fieldset>
      <legend wicket:id="name"></legend>

      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
          管理アクション <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a wicket:id="goEdit" href="#">編集</a></li>
          <!-- li class="divider"></li -->
        </ul>
      </div>

      <img wicket:id="image" class="petImage" />
      <label wicket:id="unitPrice"></label>
      <button wicket:id="cartThrower" type="submit" class="btn btn-sm btn-success">
        <span class="glyphicon glyphicon-shopping-cart"></span>
      </button>
    </fieldset>
  </form>

</wicket:panel>

</body>
</html>
