@import "Common.less";

@cellWidth: 200px;

div[class^='col-'] {
//  border: solid 2px rgba(0,0,0,1);
}

.dropdown-menu > li.danger {
  > a {
    color: rgba(255,50,50,1);
    background: rgba(255,200,200,.5);
  }
  > a:hover {
    color: rgba(255,200,200,1);
	background: rgba(255,50,50,1);
  }
} 

ul.categories {
  padding: 0;
  margin: 0;
  > li {
    color: white;
    border-radius: 4px;
    margin: 1px;
    padding: 2px;
    text-align: center;
    background: rgba(100,200,100,.4);
  }
}

div.PetListPage {
  > ul {
    padding: 0;
    > li.petList {
      vertical-align: top;
      display: inline-block;
      border: solid 1px rgba(100,100,100,.3);
      border-radius: 6px;
      background: rgba(255,255,255,.3);
      margin-right: 0.5em;
      margin-bottom: 0.5em;
      width: 95%;

      img.petImage {
        width: @cellWidth - 20;
        border-radius: 3px;
        margin-bottom: 10px;
      }

      label:before {
        content: '¥ ';
      }

      fieldset {
        background: rgba(255,255,255,1);
        border-radius: 6px;
        padding: 5px;
      }
    }
  }
}
